.document {
  background-image: url(https://cdn.pixabay.com/photo/2019/06/28/12/02/open-book-4304049_960_720.jpg);
  background-repeat: no-repeat;
  background-size: 85%;
  background-position-y: 0px;
  background-position-x: center;
}

.title {
  text-align: center;
}

.main-table {
  margin-left: 25%;
}

.asr-part {
  margin-left: 24%;
}

.qna-part {
  margin-left: 52%;
}

.page-part {
  size: 25%;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  max-width: 25%
}
