<!DOCTYPE html>

<html lang="en" dir="ltr" class="document">

  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <title>My Reading Friend</title>

    <link rel="stylesheet" href="index.css"/>
    <script type="text/javaScript" src="../index.js"></script>


    <script type="text/javaScript" src="../js/ASR/asr.js"></script>
    <script type="text/javaScript" src="../js/QNA/qna.js"></script>
    <script type="text/javaScript" src="../js/TTS/tts.js"></script>
    <script type="text/javaScript" src="../js/ihm/ihm.js"></script>


  </head>

  <body>
    <h1 class="title">
      Reading Friend (ou un truc du genre)
    </h1>

    <div id = "ASR" class="asr-part page-part">
      <h1 id="ASR-title">Question posée</h1>
      <div id = "ASR-part">bla</div>
    </div>

    <div id = "QNA" class="qna-part page-part">
      <h1 id="QNA-title">Réponse proposée</h1>
        <div id = "QNA-part">bli</div>
    </div>
  </body>


  <button onclick="envoyer(null)"> ASR </button>
  <button onclick="synthese('Here is a simple TTS test')"> TTS </button>

  <script type="text/javaScript">
    changeASR("hyyyyyyyyyyyyyyeppeezahdapi zuazdazudazudiauhdipuazhd pauz hpiu hazuih aipudh oahodzhua hdpazu hpiuauh zpiuhd paz hdpiuazh pdiuazh dpiuazhdp hdazpiudh azpuhd pauzh dpiuazh dpiuazh ppiuduah ziuph dzapu udhazph ");
    changeQNA("azdjiaz hdâiozh oia hiuh iaudg idbjhwjkywg ljl li ieu  uheu aih iu hhfdsk fkmjds hfmshdmf zp foeifiif eufyu agi hhuahnsj ndqb vxw, ckvj,k jmz vb;j: welkhkie jhlufe umuf ze ihezo hfoezi zoif oiezhf oiez hfhzeo");

  </script>


</html>
