<!DOCTYPE html>

<html lang="en" dir="ltr" class="document">

    <head>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

        <link rel="icon" type="image/png" href="../static/img/favicon.png"/>
        <title>My Reading Friend</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>

        <script type="text/javaScript" src="../static/js/index.js"></script>
        <script type="text/javaScript" src="../static/js/ASR/asr.js"></script>
        <script type="text/javaScript" src="../static/js/QNA/qna.js"></script>
        <script type="text/javaScript" src="../static/js/TTS/tts.js"></script>
        <script type="text/javaScript" src="../static/js/ihm/ihm.js"></script>
        <script type="text/javaScript" src="../static/js/common.js"></script>


    </head>

    <body>
        <h1 class="title">
            Reading Friend
        </h1>

        <div id = "ASR" class="asr-part page-part">
            <h1 id="ASR-title">Question posée</h1>
            <div id = "ASR-part">
                asr
            </div>
        </div>

        <div id = "QNA" class="qna-part page-part">
            <select id="book_list">
                <option hidden disabled selected value> Select a book </option>
            </select>

            <script>
                // Get the book files and texts from the server
                var book_list = {{ book_list|safe }};
                var book_text_list = {{ book_text_list|safe }}

                var select_box = document.getElementById('book_list');

                // Creates select element's options
                for(var i = 0; i < book_list.length; i++)
                {
                    var option = document.createElement('option');
                    option.appendChild(document.createTextNode(book_list[i].replaceAll('_', ' ').slice(0, -4))); // Replaces '_' by a space and remove the '.txt' at the end of the file names
                    option.value = book_text_list[i];
                    select_box.appendChild(option);
                }

                // Loads the book's text upon selection
                document.getElementById('book_list').addEventListener('change', function (e)
                {
                    document.getElementById('text').value = e.target.value;
                });
            </script>

            <br>

            <form action="/submit" method="POST">
                <label for="text"> Texte : </label> <br>
                <textarea rows="20" cols="60" id="text" name="text"> </textarea>
                <br>
                <label for="text"> Question : </label> <br>
                <input type="text" id="question" name="question"> <br>
                <br>
                <input type="submit" value="Submit">
            </form>

            <br>

            <label for="answer"> Réponse : </label> <br>
            <p id="answer"> {{answer}} </p>

            <audio src="{{ url_for('static', filename = '0_20180505_deepvoice3_checkpoint_step000640000.wav') }}" controls>
        </div>
    </body>

    <footer>
        <div id="num_workers">Workers : ....</div>
        <div id="num_workers_synth">Workers TTS : ....</div>
    </footer>

    <button onclick="envoyer(null)"> ASR </button>
    <button onclick="synthese(document.getElementById('answer').value)"> TTS </button>
    <button onclick="console.log(recordedAudio)"> Affiches l enregistrement </button>

    <button onclick="changeChamps()"> ChangeChamps </button>

    <script type="text/javaScript">
        changeASR("hyyyyyyyyyyyyyyeppeezahdapi zuazdazudazudiauhdipuazhd pauz hpiu hazuih aipudh oahodzhua hdpazu hpiuauh zpiuhd paz hdpiuazh pdiuazh dpiuazhdp hdazpiudh azpuhd pauzh dpiuazh dpiuazh ppiuduah ziuph dzapu udhazph ");
        //changeQNA("azdjiaz hdâiozh oia hiuh iaudg idbjhwjkywg ljl li ieu    uheu aih iu hhfdsk fkmjds hfmshdmf zp foeifiif eufyu agi hhuahnsj ndqb vxw, ckvj,k jmz vb;j: welkhkie jhlufe umuf ze ihezo hfoezi zoif oiezhf oiez hfhzeo");
    </script>

</html>
