<!DOCTYPE html>

<html lang="en" dir="ltr" class="document">

  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <link rel="icon" type="image/png" href="../images/favicon.png"/>
    <title>My Reading Friend</title>

    <link rel="stylesheet" href="../index.css"/>
    <script type="text/javaScript" src="../index.js"></script>


    <script type="text/javaScript" src="../js/ASR/asr.js"></script>
    <script type="text/javaScript" src="../js/QNA/qna.js"></script>
    <script type="text/javaScript" src="../js/TTS/tts.js"></script>
    <script type="text/javaScript" src="../js/ihm/ihm.js"></script>


  </head>

  <body>
    <h1 class="title">
      Reading Friend (ou un truc du genre)
    </h1>

    <div id = "ASR" class="asr-part page-part">
      <h1 id="ASR-title">Question posée</h1>
      <div id = "ASR-part">
        asr
      </div>
    </div>

    <div id = "QNA" class="qna-part page-part">
      <select id="book_list">
      </select>

      <script>
        var x = function(a,b,c)
        {
          c = new XMLHttpRequest;
          c.open('GET', a);
          c.onload = b;
          c.send()
        }

        var display = function()
        {
          var books = JSON.parse(this.response);

          document.write(books)

          for(let book of books)
          {
            var select = document.getElementById("book_list");
            var length = select.length;
            document.book_list[length] = new Option(book);
          }
        }

        window.onload = function()
        {
          x('../books.php', display);
        }
      </script>

      <br>

      <form action="/submit" method="POST">
        <label for="text"> Texte : </label> <br>
        <textarea rows="5" cols="80" id="text" name="text"> </textarea>
        <br>
        <label for="text"> Question : </label> <br>
        <input type="text" id="question" name="question"> <br>
        <br>
        <input type="submit" value="Submit">
      </form>

      <br>

      <label for="answer"> Réponse : </label> <br>
      <p id="answer"> {{answer}} </p>
    </div>
  </body>


  <button onclick="envoyer(null)"> ASR </button>
  <button onclick="synthese('Here is a simple TTS test')"> TTS </button>

  <script type="text/javaScript">
    changeASR("hyyyyyyyyyyyyyyeppeezahdapi zuazdazudazudiauhdipuazhd pauz hpiu hazuih aipudh oahodzhua hdpazu hpiuauh zpiuhd paz hdpiuazh pdiuazh dpiuazhdp hdazpiudh azpuhd pauzh dpiuazh dpiuazh ppiuduah ziuph dzapu udhazph ");
    changeQNA("azdjiaz hdâiozh oia hiuh iaudg idbjhwjkywg ljl li ieu  uheu aih iu hhfdsk fkmjds hfmshdmf zp foeifiif eufyu agi hhuahnsj ndqb vxw, ckvj,k jmz vb;j: welkhkie jhlufe umuf ze ihezo hfoezi zoif oiezhf oiez hfhzeo");

  </script>


</html>
